.boutton{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 14px;
    font-weight:bold ;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin: auto;
    @include ombre-exterieur;
    @include degrader;
    &:hover{
        background: linear-gradient(170deg, lighten($couleur-secondaire, 5%), lighten($couleur-primaire, 8%));
        @include ombre-exterieur(0px, 10px, 20px, darken($couleur-ombres, 30%));
    }      
}