body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
}

.boutton {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: auto;
  box-shadow: 0px 3px 6px rgb(202, 202, 202);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.boutton:hover {
  transform: scale(1.1);
}

.coeur-remplissage {
  width: 40px;
  height: 40px;
  position: relative;
  top: -65px;
  right: -270px;
}
.coeur-remplissage__coeur {
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  z-index: 1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 200ms ease-in-out;
}
.coeur-remplissage__remplissage-coeur {
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url(./images/coeur.png);
}
.coeur-remplissage__remplissage-coeur:active + .coeur-remplissage__coeur {
  transform: scaleY(1);
  animation-fill-mode: forwards;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 63px;
  box-shadow: 0px 3px 6px rgb(202, 202, 202);
}
.header__logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-top: 10px;
}

.logo-texte {
  display: flex;
  align-items: center;
}

.explorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(246, 246, 246);
  padding-bottom: 56px;
}
.explorer__localisation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  height: 50px;
}
.explorer__localisation i {
  margin-left: 25%;
}
.explorer__localisation input {
  margin-left: 10px;
  background-color: rgb(234, 234, 234);
  border: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.explorer__texte {
  padding-top: 15px;
  justify-content: center;
  margin-left: 45px;
  margin-right: 45px;
}
.explorer__texte p {
  margin-top: -5px;
  margin-bottom: 35px;
  font-size: 16px;
  color: rgb(89, 89, 89);
}

.fonctionnement {
  margin-top: 45px;
  padding-left: 25px;
  margin-right: 25px;
}
.fonctionnement h2 {
  margin-bottom: 30px;
}
.fonctionnement__card {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(246, 246, 246);
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgb(202, 202, 202);
}
.fonctionnement__card__numero {
  padding-top: 5px;
  text-align: center;
  align-items: flex-end;
  font-size: 14px;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  left: -12px;
}
.fonctionnement__card__logo-texte {
  display: flex;
  align-items: center;
}
.fonctionnement__card__logo-texte i {
  font-size: 18px;
  opacity: 50%;
  margin-right: 30px;
}
.fonctionnement__card__logo-texte p {
  font-size: 16px;
  font-weight: bold;
}

.restaurant {
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(246, 246, 246);
  margin-top: 70px;
  padding-top: 35px;
  padding-bottom: 50px;
}
.restaurant__card {
  box-shadow: 0px 3px 6px rgb(202, 202, 202);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  height: 250px;
  margin-bottom: 20px;
}
.restaurant__card__image {
  overflow: hidden;
  width: auto;
  height: 180px;
}
.restaurant__card__image .img1 {
  width: 100%;
  margin-bottom: 10px;
  margin: -40px 0px 0px 0px;
}
.restaurant__card__image .img2 {
  width: 100%;
  margin-bottom: 10px;
  margin: -140px 0px 0px 0px;
}
.restaurant__card__image p {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #2c9c81;
  position: relative;
  top: -180px;
  right: -230px;
  background-color: #99E2D0;
  border-radius: 3px;
  width: 70px;
  padding: 5px;
  margin-bottom: -65px;
}
.restaurant__card__image .p__note-enchantee {
  top: -260px;
}
.restaurant__card__texte {
  background-color: white;
  height: 75px;
  padding-left: 10px;
}
.restaurant__card__texte h3 {
  margin-bottom: -15px;
}

/*# sourceMappingURL=style.css.map */
