footer {
    
    background-color: rgb(53, 53, 53);
     padding-top: 30px;
     padding-bottom: 30px;
    img {
        height: 1.3rem;
        filter: invert(100%);
      margin-left: 40px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px auto;
    }
    li {
        width: 400px;
        list-style-type: none;
        margin-bottom: 10px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    i {
        margin-right: 10px;
    }
   
}