.header{
    position:relative;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 63px;
    @include ombre-exterieur;
    &__logo{
        width: 150px;
        height: auto;
        margin-bottom: 10px; 
    }
}