@mixin ombre-exterieur( $ombre1: 0px, $ombre2: 3px , $ombre3: 6px, $color: $couleur-ombres) {
    box-shadow: $ombre1 $ombre2 $ombre3 $color;
}
@mixin degrader{
    background: linear-gradient(to bottom right, $couleur-secondaire ,$couleur-primaire);

}

@mixin assombrir($color) {
     color: darken($color,35%);
}