$couleur-primaire : #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond-ville:rgb(234, 234, 234);
$couleur-section-grise:rgb(246, 246, 246);
$couleur-ombres: rgb(202,202,202);
$valeur-scale-coeur: 0;
$padding-left: 25px;